
#main {
	width:80%;
	max-width: 800px;
	min-width: 300px;
	margin: 0px auto 50px;
}
@media all and (max-width: 630px) {
	#main {
		width: 95%;
	}
}


/* home */
#intro {
	min-width: 200px;
	max-width: 600px;
	text-align: justify;
	display: inline-block;
}

/* cv */
.section {
	margin:40px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	border-top: 1px solid #ccc;
}
#profile {
	margin:0px;
}
.entry {
	margin:30px 0px;
}
.entry a:link, .entry a:active, .entry a:visited {
	color: inherit;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #D90057;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1em;
	margin-bottom: 0px;
	letter-spacing: 1px;
}
p, ul {
	line-height: 1.2em;
	font-size: 1.1em;
}
#header p, #header ul {
	line-height: 1em;
	font-size: 1em;
}
.company {
	font-family: 'Montserrat', sans-serif;
	margin: 5px 0px 20px 0px;
	font-size: 0.9em;
}
.date {
	opacity:0.5;
}
.school {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.awards {
	margin: 0px 0px 20px 0px;
	font-size: 1.1em;
	line-height: 1.3em;
	list-style: none;
	padding: 0px;
}