body, html {
	background-color:#fff;
	font-family:'Inconsolata',Helvetica, Arial, sans-serif;
	font-size:1em;
	letter-spacing: 0.5px;
	color:#333;
	margin:0px;
	line-height:1.5em;
	width:100%;
}
a:link, a:visited {
	color:#333;
	text-decoration:none;
}
a:hover {
	color: #D90057;
	text-decoration:underline;
}
.clear {
	clear:both;
}
#main {
	width:80%;
	max-width: 800px;
	min-width: 300px;
	margin: 0px auto 50px;
}
@media all and (max-width: 630px) {
	#main {
		width: 95%;
	}
}
#header {
	border-bottom: 1px solid #d3d3d3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 4em;
	line-height:100%;
	text-transform: uppercase;
	text-align: center;
	padding: 2% 0px;
	letter-spacing: 1px;
	color: #D90057;
}
#subhed {
	margin:20px 0px;
	font-size: 0.3em;
	opacity: 0.7;
	color: #333;
}
#header a {
	color: #D90057;
}
#header a:hover {
	text-decoration: none;
}

@media all and (max-width: 630px) {
	#header {
		padding:0px;
		margin: 0px;
	}
	#header p {
		margin:20px;
	}
}

/* home */
#intro {
	min-width: 200px;
	max-width: 600px;
	text-align: justify;
	display: inline-block;
}

/* cv */
.section {
	margin:40px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	border-top: 1px solid #ccc;
}
#profile {
	margin:0px;
}
.entry {
	margin:30px 0px;
}
.entry a:link, .entry a:active, .entry a:visited {
	color: inherit;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #D90057;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1em;
	margin-bottom: 0px;
	letter-spacing: 1px;
}
p, ul {
	line-height: 1.2em;
	font-size: 1.1em;
}
.company {
	font-family: 'Montserrat', sans-serif;
	margin: 5px 0px 20px 0px;
	font-size: 0.9em;
}
.date {
	opacity:0.5;
}
.school {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.awards {
	margin: 0px 0px 20px 0px;
	font-size: 1.1em;
	line-height: 1.3em;
	list-style: none;
	padding: 0px;
}