html, body {
	font-family: 'Neuton', serif;
	font-size: 1em;
	color: #333;
}
a:link, a:active, a:visited {
	color: #D90057;
}
#main {
	width:85%;
	max-width: 650px;
	min-width: 200px;
	margin: 20px auto;
}
#header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 4em;
	text-transform: uppercase;
	text-align: center;
	padding:7% 0px;
	letter-spacing: 1px;
	color: #D90057;
}
#subhed {
	margin:20px 0px;
	font-size: 0.3em;
	opacity: 0.7;
	color: #333;
}

/* home */
#intro {
	text-align: justify;
/*	max-width:500px;
	margin:auto;*/
}

/* cv */
.section {
	margin:40px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	border-top: 1px solid #ccc;
}
#profile {
	margin:0px;
}
.entry {
	margin:30px 0px;
}
.entry a:link, .entry a:active, .entry a:visited {
	color: inherit;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #D90057;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	margin-bottom: 0px;
	letter-spacing: 1px;
}
p, ul {
	line-height: 1.2em;
	font-size: 1.1em;
}
.company {
	font-style: italic;
	margin: 5px 0px 20px 0px;
	font-size: 1em;
}
.school {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.awards {
	margin: 0px 0px 20px 0px;
	font-size: 1.1em;
	line-height: 1.3em;
	padding: 0px 20px;
}