body, html {
	background-color:#1a1a1a;
	font-family:Helvetica, Arial, sans-serif;
	font-size:13px;
	color:#1a1a1a;
	margin:0px;
	line-height:1.3em;
}
img {
	border: none;
}
a:link, a:visited {
	color:#000;
}
a:hover {
	color:#555;
}
#topbar {
	height:20px;
	background:rgba(41,171,226,0.7);
	font-family: "ff-meta-sc-web-pro-1","ff-meta-sc-web-pro-2",sans-serif;
	font-size:20px;
	padding-left:10px;	
}
#topbar a {
	color:#1a1a1a;
	text-decoration:none;
}
#rndlogo {
	top:15px;
	left:15px;
	position:fixed;
}
#wrapper {
	width:590px;
	margin:0px auto;
	background-color:#e6e6e6;
	padding:20px 70px;
	z-index:1;
}
#main-img {
	margin-bottom:30px;
	text-align:center;
}
#wide-img {
	margin-bottom:30px;
	text-align:center;
	padding: 0px 0px;
}
#full-img {
	margin-bottom:30px;
	text-align:center;
	padding: 0px 0px;
	margin-left: 0px;
}
#description {
	margin-bottom: 30px;
}
.header {
  font-family: "ff-meta-sc-web-pro-1","ff-meta-sc-web-pro-2", sans-serif;
  font-size:18px;
  font-weight:normal;
  margin:20px 0px;
  opacity:0.7;
}

.header a {
  font-family: "ff-meta-sc-web-pro-1","ff-meta-sc-web-pro-2", sans-serif;
  font-size:18px;
  font-weight:normal;
  margin:20px 0px;
  opacity:0.7;
  text-decoration:none;
}
.thumbnails img {
	float:left;
	margin: 0px 10px 10px 0px;
	border:none;
}
ul {
	padding-left:15px;
}
.clear {
	clear:both;
}