body, html {
  font-family: 'freight-text-pro', serif;
  font-weight: 300;
  font-size:1.1em;
  color:#333;
}
a:link, a:visited, a:active {

}
p a {
  color: inherit;
  text-decoration: underline;
}
.clear {
  clear: both;
}
#container {
  margin:auto;
}
@media only screen and (max-width: 768px){
/* mobile */
  #container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px){
/* desktop / tablet */
  #container {
    width: 80%;
    max-width: 700px;
    min-width: 300px;
  }
}
.element {
  padding:20px;
  border-bottom: 1px solid #ccc;
}
.hidden-element {
  animation-name: highlight;
  animation-duration: 1.5s;
  display:none;
}
.ad {
  background-color: #e1eff9;
}

img.buttons {
  float: left;
  width:100px !important;
  padding:20px 0px 0px 0px !important;
}

.more-items {
  float: right;
  padding:20px 0px 0px 0px;
}
a.more-items, a.more {
  color: #FA6F06;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size:0.75em;
}
a.more-items {
  text-transform: uppercase;
}
@keyframes highlight {
 	0% {
 		background: lightyellow;
 	}
 	100% {
 		background: none;
 	}
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 0.01em;
  line-height: 1.2em;
}
@media only screen and (max-width: 768px){
/* mobile */
  h1 {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 768px){
/* desktop */
  h1 {
    font-size: 1.7em;
  }
}
.element p {
    line-height: 1.5em;
}
.element img {
  width:100%;
  padding:20px 0px;
}

#more-text, #more-text2 {
  display: none;
}
#obama-graphic {
  background-color: #f2f2f2;
  width: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
  color:#666;
  padding: 20px 0px;
  text-align: center;
  font-size: 0.8em;
}
#obama-graphic strong {
  font-size: 1.6em;
  line-height: 1.2em;
  display: block;
  padding:10px 10px 0px 10px;
}
